.error-message{
    color: red;
    font-size: 12px;
    font-style: italic;
    margin-top: 5pxz;
}
input::placeholder{
    font-size: 13px;
}
.mb20{
    margin-bottom: 20px
}
.mt20{
    margin-top: 20px
}
.h5{
    text-transform: uppercase;
    font-weight: normal;
}
table .avatar{
    display: block;
    height: 65px;
}
.avatar-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
table strong{
    min-width: 96px;
    display: inline-block;
}
.table >  thead > tr > th,
.table >  tbody > tr > th,
.table >  tfoot > tr > th,
.table >  thead > tr > td,
.table >  tbody > tr > td,
.table >  tfoot > tr > td{
    vertical-align: middle;
}
.uk-flex-space-between{
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.uk-flex-middle{
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.uk-flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.filter .perpage {
    display: inline-block;
}